* {
  margin: 0;
}
main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainbody {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  position: relative;
}
.background{
  background:linear-gradient(black , transparent 10%, transparent 80%,black), url('../images/mainBackground.jpg');
  background-size: 120%;
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.mainbody-wrapper {
  position: absolute;
  filter: drop-shadow(0 0 5px white);
  z-index: 5;
  width: 64rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  color:white;
}
.introduction {
  width: 50%;
}
.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.stats-wrapper {
  position: relative;
  width: 50%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats-wrapper>h1{
    position: absolute;
    top:0;
}
.stats-projects,
.stats-contributions,
.stats-days,
.stats-repositories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
    text-align: center;
}
.graph {
  height: 60%;
  height: auto;
  width: 60%;
  filter: invert(1);
}
.stats {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-icon:after {
  content: "";
  background-color: #242424;
  width: 4px;
  height: 6px;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}
@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}
