*{
    margin:0;
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.technology{
    height:100px;
}
.mainbody-wrapper{
    display: flex; 
    justify-content: space-around;
    width:100%;
    align-items: center;
}
.num{
    transition: all 1s cubic-bezier(0.42, 0, 0.58, 1);
}