.technology {
  width: 64rem;
  background-color: aliceblue;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 1rem;
}
.technology-img {
  height: 100px;
}
.proficient figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 30%;
}
.proficient-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.proficient {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.familiar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.familiar figure {
  width: 50%;
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}
.familiar-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
