@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&family=Ropa+Sans&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
/* black #0B0C10
   light black #1F2833
   Grey #C5C6C7
   Aqua #66FCF1
   Darker Aqua #45A29E */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
