.nav {
  position: fixed;
  width: 64rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: white;
  border-radius: 1rem;
  top: 2vh;
  box-shadow: 0 0 10px 0 black;
  z-index: 99;
}
.nav-wrapper {
  width: 100%;
  display: flex;
  z-index: 99;
  justify-content: center;
}
.logo-wrapper {
  height: 60%;
  align-items: center;
  display: flex;
  position: relative;
}
.logo {
  width: auto;
  height: 100%;
  display: block;
  -webkit-filter:drop-shadow(0 0 3px black);
  filter:drop-shadow(0 0 3px black);
}
.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav-li {
  margin: 0 10px;
  font-size: 1.2rem;
}
