.nav {
  position: fixed;
  width: 64rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  background-color: rgb(249, 252, 255);
  border-radius: 1rem;
  top: 2vh;
  box-shadow: 0 0 10px 0 white;
  z-index: 99;
}
.nav-wrapper {
  width: 100%;
  display: flex;
  z-index: 99;
  justify-content: center;
}
.logo-wrapper {
  height: 60%;
  align-items: center;
  display: flex;
  position: relative;
}
.logo {
  width: auto;
  height: 100%;
  display: block;
  -webkit-filter:drop-shadow(0 0 2px black);
  filter:drop-shadow(0 0 2px black);
}
.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav-ul>.nav-li:nth-of-type(4)>a{
  padding: 7px 15px;
  background-color: black;
  color:white;
  border-radius: 10px;
  border:2px solid black;
}
.nav-ul>.nav-li:nth-of-type(4):hover a{
  text-decoration: none;
  box-shadow: 0 0 5px 0 black;
}
.nav-li:nth-of-type(4):hover{
  transform: scale(1.03);
}
.nav-li:nth-of-type(4):active a{
  background-color: transparent;
  box-shadow:0 0 0 0 !important;
  color:black;
}
.nav-li:hover a{
  text-decoration: underline;
}
.nav-li a{
  text-decoration: none;
  color:black;
}
.nav-li {
  margin: 0 10px;
  font-size: 1.2rem;
}
@media (max-width: 64rem) {
  .nav{
    width: 100%;
    top:0;
    border-radius: 0;
  }
}
@media (max-width: 480px){
  .nav{
    justify-content: center;
  }
  .nav-li{
    font-size: 0.9rem;
  }
}